body {
    font-family: monospace;
    font-size: 1.1em;
}
header {
    font-size: 2.5em;
    padding-top: 0.2em;
}
a {
    color: steelblue;
    text-decoration: none;
    font-size: 0.9em;
}
a:hover {
    color: tomato;
    border-bottom: 2px tomato dashed;
}
a:visited {
    color: purple;
}
.top-item {
    padding: 0em 1em 1em;
}
ul {
    list-style: none;
    padding: 0.2em 0;
    margin: 0;
}
ul ul {
    padding: 0em 0;
    font-size: 0.9em;
}
li {
    padding-top: 0.2em;
    padding-left: 1em;
    text-indent: 0em;
}
.subtitle {
    font-size: 0.6em;
    padding-left: 2em;
}
@media screen and (prefers-color-scheme: dark) {
     header, li {
        filter: invert(80%);
     }
     a, a:visited, a:hover {
        filter: invert(100%);
     }
     body {
         background-color: black;
     }
}
