div header, p, div, article * {
    font-family: 'Ubuntu', Arial, sans-serif;
}

article p {
    text-indent: 2em;
}

pre { margin: 0; padding: 0; }
code * { font-size: 1.25em; font-family: monospace; }
body * { font-family: 'Goudy Bookletter 1911', serif; }

footer, header { text-align: center; clear: both; }

blockquote, code {
    display:block;
    border-left:5px solid #ddd;
    padding:10px;
    margin-bottom:20px;
}

a { color: dodgerblue; text-decoration: none; }
a:hover { color: tomato; }
a:visited { color: darkpurple; }

.centered { width: 30em; margin: auto; }
#center-head a {
    font-family: 'Neucha', arial, sans-serif;
    font-weight: normal;
    color: darkorange;
    font-size: 2em;
}
#mitten { color: purple; margin-left: 10px; }
#mitten-quote { margin: 0; font-family: Monospace; }
#center-head h1 { margin-bottom: 0; }

ul { list-style: none; padding:0;  margin:0; }
li { padding-left: 1em; text-indent: -1em; }
li:before { content: '\226B'; padding-right: 7px; }